<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Добавление ответов</title>
<style>
  .answer {
    margin-bottom: 10px;
  }
</style>
</head>
<body>
  <form method="post">
    {% csrf_token %}
    <div id="answersContainer">
      <!-- Сюда будут добавляться ответы -->
    </div>
    <button type="button" onclick="addAnswer()">Добавить ответ</button>
    <button type="submit">Submit</button>
  </form>

  <script>
    let answerId = 0;

    function addAnswer() {
      const answersContainer = document.getElementById("answersContainer");

      const answerDiv = document.createElement("div");
      answerDiv.classList.add("answer");

      const answerInput = document.createElement("input");
      answerInput.type = "text";
      answerInput.name = `answer_${answerId}`;
      answerInput.placeholder = "Введите ответ";

      const correctAnswerRadio = document.createElement("input");
      correctAnswerRadio.type = "radio";
      correctAnswerRadio.name = "correct_answer";
      correctAnswerRadio.value = answerId;
      correctAnswerRadio.required = true; // Сделаем radio-кнопку обязательной для выбора

      const deleteButton = document.createElement("button");
      deleteButton.innerHTML = "&#10060;";
      deleteButton.onclick = function() {
        answersContainer.removeChild(answerDiv);
      };

      answerDiv.appendChild(answerInput);
      answerDiv.appendChild(correctAnswerRadio);
      answerDiv.appendChild(deleteButton);
      answersContainer.appendChild(answerDiv);

      answerId++;
    }
  </script>
</body>
</html>
